[Unit]
Description=Minecraft Server Daemon Socket
Documentation=https://git.matthewrease.net/mc-daemon
Wants=network-online.target

[Socket]
ListenStream=/run/mc-daemon.socket
SocketUser=minecraft
SocketGroup=minecraft
SocketMode=0640
ExecStartPost=/usr/local/bin/mcd --daemon

[Install]
WantedBy=sockets.target
