[Unit]
Description=Minecraft Server Daemon
Documentation=https://gitlab.matthewrease.net/mc-daemon
#Requires=network-online.target

[Service]
Type=forking
PIDFile=/home/user/.local/state/mc-daemon/pid
ExecStart=/usr/local/bin/mc-daemon --daemon
#ExecStartPre
#ExecStartPost
ExecReload=/usr/local/bin/mc-daemon --restart
ExecStop=/usr/local/bin/mc-daemon --quit
ExecStopPost=/bin/rm -f /home/user/.local/state/mc-daemon/socket
TimeoutStopSec=2min

Environment=MCD_CONFIG=/path/to/mc-daemon.conf
Environment=MCD_DATA=/home/user/.local/state/mc-daemon

[Install]
WantedBy=multi-user.target
