[Unit]
Description=Minecraft Server Daemon
Documentation=https://git.matthewrease.net/mc-daemon
Wants=network-online.target
#Requires=mc-daemon.socket

[Service]
#User=minecraft
#Group=minecraft
Type=forking
PIDFile=/run/mc-daemon/pid
ExecStart=/usr/local/bin/mc-daemon --daemon
#ExecStartPre
#ExecStartPost
ExecReload=/usr/local/bin/mc-daemon --restart
ExecStop=/usr/local/bin/mc-daemon --quit
ExecStopPost=/bin/rm -f /run/mc-daemon/socket
TimeoutStopSec=2min

[Install]
WantedBy=multi-user.target
#Also=mc-daemon.socket
